/*---------- Table of Contents ----------
    1. Header styles
        1.a) main-nav
        1.b) article-nav
    2. Main Content styles
        2.a) Article Section styles
        2.b) Newsletter Aside styles
        2.c) Explore Section styles
    3. Footer styles
        3.a) Footer Topics styles
        3.b) Footer Links styles
    4. General styles (like fonts and buttons)
----------------------------------------*/



/*----- Header styles -----*/

header {
    width: 100%;
}

.logo {
    width: 200px;
    height: auto;
    position: relative;
    top: 0.7rem;
    flex-shrink: 0;
}

/*Main-Nav styles*/
.header-main {
    width: 100%;
    background-color: #d33a2c;
    display: grid;
    font-size: 22px;
    padding: 1rem 2em;
    grid-template-columns: min-content minmax(140px,2fr) 0 minmax(100px,350px);
    align-items: center;
    column-gap: 10px;
    margin: 0;
    box-sizing: border-box;
    justify-content: flex-start;
}

.main-nav {
    width: auto;
    height: 100%;
    grid-column: auto;
}

.main-list {
    display: flex;
    list-style: none;
    color: white;
    font-weight: bold;
    font-size: 22px;
    margin: 0;
    width: 100%;
    height: calc(100% - 0.8em);
    justify-content: space-between;
    align-items: center;
    padding: 0.4em 0;
}

.main-item {
    padding: .35em .9em;
}

.more {
    display: flex;
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 11px;
    color: white;
    font-weight: bold;
    font-size: 22px;
    margin: 0;
    padding: .4em .5rem .4em 1rem;
    box-shadow: 0 13px 7px -15px rgb(50 50 93 / 25%), 0 8px 16px -8px rgb(0 0 0 / 30%), 0 -6px 16px -6px rgb(0 0 0 / 3%);
}

.more::after {
    background-image: url("./assets/cat.svg");
    background-position: center center;
    background-repeat: no-repeat;
    content: "";
    width: 30px;
    height: 30px;
    margin-left: 9px;
    display: block;
}

form {
    max-width: 500px;
}

.search {
    width: 100%;
    padding: 0;
    border: 0;
}

/*article-nav*/
.header-sub {
    width: 100%;
}

.article-nav {

}



/*----- Main Content styles -----*/

main {
    width: 85%;
    max-width: 1440px;
    margin: 0 auto;
    margin-bottom: 3rem;
    display: flex;
    flex-wrap: wrap;
}

/*Article Section styles*/
.article-section {
    width: 60%;
}

.main-article {
    width: calc(100% - 2rem);
    padding: 0 1rem;
    margin-top: 2.25rem;
    margin-bottom: 3rem;
}

.main-header {
    width: 100%;
}

.main-content {
    width: 100%;
    margin: 10px 0;
}

.sub-article {
    width: calc(100% - 2rem);
    padding: 0 1rem;
    margin-bottom: 3rem;
}

.sub-header {
    width: 100%;
}

/*Newsletter Aside styles*/
aside {
    width: 40%;
    padding-top: 20px;
}

.newsletter {
    width: 91.66666%;
    margin-top: 125px;
    margin-left: 8.33333%;
}

/*Explore Section styles*/
.explore-section {
    width: 100%;
    padding: 0 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0 1.5rem;
    background: #fff;
}

.accessability {
    background-color: #f1fdf8;
    margin: 1.5rem 0;
}

.generator {
    background-color: #fef1f0;
    margin: 1.5rem 0;
}

.boilerplate {
    background-color: #fbecf9;
    margin: 1.5rem 0;
}



/*----- Footer styles -----*/

footer {
    background-image: url("https://www.smashingmagazine.com/images/footer/large-screen__left.svg");
    background-repeat: no-repeat;
    background-size: 12em auto;
    background-position: left 15% bottom 2em;
    background-color: #d33a2c;
    padding: 2rem 0;
    padding-bottom: 3rem;
    width: 100%;
}

.company-msg {

}

/*Footer Topics styles*/
.footer-topics {

}

/*Footer Links styles*/
.footer-links {

}



/*----- General styles -----*/

body {
    margin: 0;
}

ul {
    padding: 0;
}

.sans-serif-font {
    font-family: 'Fira Sans', sans-serif;
}

.serif-font {
    font-family: 'PT Serif', serif;
}

.new-times-font {
    font-family: 'Cormorant Garamond', serif;
}