/*---------- Table of Contents ----------
    1. Header styles
        1.a) main-nav
        1.b) article-nav
    2. 








----------------------------------------*/




.sans-serif-font {
    font-family: 'Fira Sans', sans-serif;
}

.serif-font {
    font-family: 'PT Serif', serif;
}

.new-times-font {
    font-family: 'Cormorant Garamond', serif;
}